.pagination-button {
   align-items: center;
   cursor: pointer;
   width: 33px;
   height: 33px;
   border: 1px solid #eeeeee;
   border-radius: 9px;
   margin-right: 7px;
}

.pagination-button:first-child {
   margin-right: 13px;
}

.pagination-button:last-child {
   margin-left: 6px;
   margin-right: 0px;
}

.pagination-button p {
   text-align: center;
   font-size: 10px;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
   color: #646464;
}
