.disable-button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 230px;
   height: 32px;
   border-radius: 8px;
   background-color: #eeeeee;
}

.disable-button p {
   font-size: 12px;
   font-weight: 500;
   font-family: 'Roboto', sans-serif;
   color: #b0b0b0;
}
