.product-hover {
   cursor: pointer;
   width: 255px;
   height: 465px;
   border: 1px solid #e5e5e5;
   margin: -1px;
   border-radius: 10px;
}

.product-hover__image {
   display: flex;
   justify-content: center;
   align-items: center;
}

.product-hover__image img {
   width: 224px;
}

.product-hover__description {
}

.product-hover__description p {
   font-size: 12px;
   font-family: 'Roboto', sans-serif;
   color: #484848;
   padding: 0px 14px;
   margin-left: 1px;
   height: 30px;
}

.product-hover__button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 35px;
}
